[project]
	description = Collection of some script I find useful
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Byron Grobe (grobe0ba)
[access "refs/for/refs/*"]
	read = group user/Byron Grobe (grobe0ba)
	push = group user/Byron Grobe (grobe0ba)
	label-Code-Review = -2..+2 group user/Byron Grobe (grobe0ba)
	label-Verified = -1..+1 group user/Byron Grobe (grobe0ba)
	rebase = group user/Byron Grobe (grobe0ba)
	removeReviewer = group user/Byron Grobe (grobe0ba)
	submit = group user/Byron Grobe (grobe0ba)
[access "refs/heads/*"]
	read = group user/Byron Grobe (grobe0ba)
	create = group user/Byron Grobe (grobe0ba)
	push = +force group user/Byron Grobe (grobe0ba)
	pushMerge = group user/Byron Grobe (grobe0ba)
[access "refs/tags/*"]
	push = +force group user/Byron Grobe (grobe0ba)
	pushTag = group user/Byron Grobe (grobe0ba)
	pushSignedTag = group user/Byron Grobe (grobe0ba)
